extends layout
block variables
  - page = 'Home'
block content
  section.fp-slider
    .owl-carousel
      -for(i=1;i<=3;i++)
        .slide
          .slide--image(style="background: url(img/fp-slide.jpg) no-repeat center center")
          .slide--text
            img(src="img/fp-slide_sm.jpg", alt="")
            h2 PRICES FROM ONLY €99 FOR ANY LEATHER SUITE
            p And to make the offer even better, the price also includes the application of the preserver after the cleaning, which will help hydrate and protect your leather suite for longer.
            .btn.accent(data-scroll="#anchor") Get a quote!
  section.fp-services
    .container
      .fp-services--wraper
        .text--center: h2 Our Services
        .row
          .col.md-3.sm-4: a.fp-services--item(href="service.html")
            img(src="img/service-1.jpg", alt="")
            h3 OFFICE CLEANING
            p Our office cleaning services in Dublin are typically carried out on either a daily or weekly service depending on our client's needs..
          .col.md-3.sm-4: a.fp-services--item(href="service.html")
            img(src="img/service-2.jpg", alt="")
            h3 ROOF & GUTTERS CLEANING
            p Looking to get your apartment cleaned on a regular basis or just a once off, Our apartment cleaning services in Dublin are typically carried out on either a daily or weekly service..
          .col.md-3.sm-4.hide-sm-down: a.fp-services--item(href="service.html")
            img(src="img/service-3.jpg", alt="")
            h3 CARPET CLEANING
            p Standing apart from other Dublin cleaning companies, Cleanscape equips an advanced yet easy to use and never failing using the latest technology in cleaning equipment...
          .col.md-3.sm-4.hide-md-down: a.fp-services--item(href="service.html")
            img(src="img/service-4.jpg", alt="")
            h3 ROOF & GUTTERS CLEANING
            p Our office cleaning services in Dublin are typically carried out on either a daily or weekly service depending on our client's needs..
        .text--center: a(href="services.html").btn.grey2
          span Show all
          svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 9"): path(d="M.8 9a.9.9 0 0 0 .6-.3L6 4.5 1.4.2A.9.9 0 0 0 .3.2a.7.7 0 0 0 0 1l3.4 3.3L.2 7.6a.7.7 0 0 0 0 1.1.9.9 0 0 0 .6.3z")
  section.fp-products
    .text--center: h2 Eco Friendly Products
    .container
      .fp-products--wraper
        .fp-products--item: img(src="img/product_mask.png", alt="")
        .fp-products--item: img(src="img/product_mask.png", alt="")
        .fp-products--item: img(src="img/product_mask.png", alt="")
        .fp-products--item: img(src="img/product_mask.png", alt="")
        .fp-products--item: img(src="img/product_mask.png", alt="")
  section.fp-advantanges
    .text--center: h2 Why Choose Green-Clean Services?
    .fp-advantanges--wraper
      .container
        .row
          .col.md-4.sm-6
            .fp-advantanges--item
              img(src="img/advantange-1.png", alt="")
              h3 DISCOUNT AND BONUSES 
              p At Cleanscape, newly hired staff will have to go through an immense. All our cleaning staff are BICSc certified and undergo full training
          .col.md-4.sm-6
            .fp-advantanges--item
              img(src="img/advantange-2.png", alt="")
              h3 FULLY INSURED 
              p Happy Clean is a young company created with the aim of offering quality cleaning services at the highest standards
          .col.md-4.sm-6
            .fp-advantanges--item
              img(src="img/advantange-3.png", alt="")
              h3 FREE QUOTATIONS
              p We also give you the possibility of creating your own personalized cleaning service according to your needs
          .col.md-4.sm-6.hide-sm-down
            .fp-advantanges--item
              img(src="img/advantange-4.png", alt="")
              h3 BETTER SUPERVISION
              p We also give you the possibility of creating your own personalized cleaning service according to your needs
          .col.md-4.sm-6.hide-sm-down
            .fp-advantanges--item
              img(src="img/advantange-5.png", alt="")
              h3 ADVANCED MACHINERY
              p Standing apart from other Dublin cleaning companies, Cleanscape equips an advanced yet easy to use and never failing using the latest technology
          .col.md-4.sm-6.hide-sm-down
            .fp-advantanges--item
              img(src="img/advantange-6.png", alt="")
              h3 FLEXIBLE HOURS
              p At Cleanscape, newly hired staff will have to go through an immense. All our cleaning staff are BICSc certified and undergo full training
  section.fp-portfolio
    .text--center: h2 Portfolio
    .container
      .row
        .owl-carousel
          -for(i=1;i<=3;i++)
            .fp-portfolio--item
              .popup--image(data-mfp-src="img/portfolio-1.jpg" title="Bedroom carpet cleaning" data-addr="Dublin")
                img(src="img/portfolio-1.jpg", alt="")
                .overlay
                  span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
              h3 Bedroom carpet cleaning
              p Dublin
            .fp-portfolio--item
              .popup--image(data-mfp-src="img/portfolio-2.jpg" title="Upholstery cleaning" data-addr="Wicklow")
                img(src="img/portfolio-2.jpg", alt="")
                .overlay
                  span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
              h3 Upholstery cleaning
              p Wicklow 
            .fp-portfolio--item
              .popup--image(data-mfp-src="img/portfolio-3.jpg" title="Floor cleaning" data-addr="Dublin")
                img(src="img/portfolio-3.jpg", alt="")
                .overlay
                  span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
              h3 Floor cleaning
              p Dublin
            .fp-portfolio--item
              .popup--image(data-mfp-src="img/portfolio-4.jpg" title="Roof cleaning" data-addr="Dublin")
                img(src="img/portfolio-4.jpg", alt="")
                .overlay
                  span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
              h3 Roof cleaning
              p Dublin
      .text--center: button.btn.grey2
        span Show all
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 9"): path(d="M.8 9a.9.9 0 0 0 .6-.3L6 4.5 1.4.2A.9.9 0 0 0 .3.2a.7.7 0 0 0 0 1l3.4 3.3L.2 7.6a.7.7 0 0 0 0 1.1.9.9 0 0 0 .6.3z")
  section.get-quote
    .container
      .get-quote--wraper
        h2 Quality and affordable cleaning Services By REAL Professionals
        a.btn.accent(data-scroll="#anchor") Get a free quote!
  section.fp-testimonials
    .text--center: h2 Testimonials
    .container
    .container
      .fp-testimonials--wraper: .row
        .owl-carousel
          -for(i=1;i<=3;i++)
            .fp-testimonials--item
              .fp-testimonials--item__body
                p Omg cannot belive how good my carpets look..was going to replace them.and thought why not get happy clean out again...had my couch cleaned a few months back..and it looks great..more to the point the agent on the day was just so professional and well mannered young man.. definitley the best company.
                .fp-testimonials--item__rating.rate4
                  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.5 19.5"): path(d="M10.2.8l2.5 5.8 6.3.6c.5 0 .6.6.3.8l-4.8 4.2 1.4 6.2c.1.4-.3.8-.7.6l-5.5-3.3L4.3 19a.5.5 0 0 1-.8-.6L5 12.2.2 8a.5.5 0 0 1 .3-.8l6.3-.6L9.3.8c.2-.5.7-.5.9 0z")
                  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.5 19.5"): path(d="M10.2.8l2.5 5.8 6.3.6c.5 0 .6.6.3.8l-4.8 4.2 1.4 6.2c.1.4-.3.8-.7.6l-5.5-3.3L4.3 19a.5.5 0 0 1-.8-.6L5 12.2.2 8a.5.5 0 0 1 .3-.8l6.3-.6L9.3.8c.2-.5.7-.5.9 0z")
                  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.5 19.5"): path(d="M10.2.8l2.5 5.8 6.3.6c.5 0 .6.6.3.8l-4.8 4.2 1.4 6.2c.1.4-.3.8-.7.6l-5.5-3.3L4.3 19a.5.5 0 0 1-.8-.6L5 12.2.2 8a.5.5 0 0 1 .3-.8l6.3-.6L9.3.8c.2-.5.7-.5.9 0z")
                  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.5 19.5"): path(d="M10.2.8l2.5 5.8 6.3.6c.5 0 .6.6.3.8l-4.8 4.2 1.4 6.2c.1.4-.3.8-.7.6l-5.5-3.3L4.3 19a.5.5 0 0 1-.8-.6L5 12.2.2 8a.5.5 0 0 1 .3-.8l6.3-.6L9.3.8c.2-.5.7-.5.9 0z")
                  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.5 19.5"): path(d="M10.2.8l2.5 5.8 6.3.6c.5 0 .6.6.3.8l-4.8 4.2 1.4 6.2c.1.4-.3.8-.7.6l-5.5-3.3L4.3 19a.5.5 0 0 1-.8-.6L5 12.2.2 8a.5.5 0 0 1 .3-.8l6.3-.6L9.3.8c.2-.5.7-.5.9 0z")
              .fp-testimonials--item__footer
                img(src="img/testimonial-1.jpg", alt="")
                .author
                  strong Celine McGowan
                  span a year ago
            .fp-testimonials--item
              .fp-testimonials--item__body
                p We had 3 bedroom carpets, stairs and landing and 2 mattresses cleaned today. These guys are amazing and very professional. I would highly recommend them to anyone. They are like new!! I will definitely be booking again very soon to get the rest done. 
                .fp-testimonials--item__rating.rate5
                  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.5 19.5"): path(d="M10.2.8l2.5 5.8 6.3.6c.5 0 .6.6.3.8l-4.8 4.2 1.4 6.2c.1.4-.3.8-.7.6l-5.5-3.3L4.3 19a.5.5 0 0 1-.8-.6L5 12.2.2 8a.5.5 0 0 1 .3-.8l6.3-.6L9.3.8c.2-.5.7-.5.9 0z")
                  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.5 19.5"): path(d="M10.2.8l2.5 5.8 6.3.6c.5 0 .6.6.3.8l-4.8 4.2 1.4 6.2c.1.4-.3.8-.7.6l-5.5-3.3L4.3 19a.5.5 0 0 1-.8-.6L5 12.2.2 8a.5.5 0 0 1 .3-.8l6.3-.6L9.3.8c.2-.5.7-.5.9 0z")
                  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.5 19.5"): path(d="M10.2.8l2.5 5.8 6.3.6c.5 0 .6.6.3.8l-4.8 4.2 1.4 6.2c.1.4-.3.8-.7.6l-5.5-3.3L4.3 19a.5.5 0 0 1-.8-.6L5 12.2.2 8a.5.5 0 0 1 .3-.8l6.3-.6L9.3.8c.2-.5.7-.5.9 0z")
                  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.5 19.5"): path(d="M10.2.8l2.5 5.8 6.3.6c.5 0 .6.6.3.8l-4.8 4.2 1.4 6.2c.1.4-.3.8-.7.6l-5.5-3.3L4.3 19a.5.5 0 0 1-.8-.6L5 12.2.2 8a.5.5 0 0 1 .3-.8l6.3-.6L9.3.8c.2-.5.7-.5.9 0z")
                  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.5 19.5"): path(d="M10.2.8l2.5 5.8 6.3.6c.5 0 .6.6.3.8l-4.8 4.2 1.4 6.2c.1.4-.3.8-.7.6l-5.5-3.3L4.3 19a.5.5 0 0 1-.8-.6L5 12.2.2 8a.5.5 0 0 1 .3-.8l6.3-.6L9.3.8c.2-.5.7-.5.9 0z")
              .fp-testimonials--item__footer
                img(src="img/testimonial-2.jpg", alt="")
                .author
                  strong Jimmy Murray
                  span 3 months ago
  include models/contacts-form
