extends layout
block variables
  - page = 'Portfolio'
block content
  .breadcrumb
    .container
      ul
        li: a(href="./") GreenClean
        li: span Portfolio
  section.portfolio
    .container
      h1 Portfolio
      .portfolio--list
        .row
          .col.md-4.sm-6
            a.portfolio--list__item(href="img/photo-1.jpg" title="Bedroom carpet cleaning" data-addr="Dublin")
              img(src="img/photo-1.jpg", alt="")
              .overlay
                span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
                span.title Bedroom carpet cleaning
                span.adress Dublin
          .col.md-4.sm-6
            a.portfolio--list__item(href="img/photo-2.jpg" title="Bedroom carpet cleaning" data-addr="Dublin")
              img(src="img/photo-2.jpg", alt="")
              .overlay
                span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
                span.title Bedroom carpet cleaning
                span.adress Dublin
          .col.md-4.sm-6
            a.portfolio--list__item(href="img/photo-3.jpg" title="Bedroom carpet cleaning" data-addr="Dublin")
              img(src="img/photo-3.jpg", alt="")
              .overlay
                span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
                span.title Bedroom carpet cleaning
                span.adress Dublin
          .col.md-4.sm-6
            a.portfolio--list__item(href="img/photo-1.jpg" title="Bedroom carpet cleaning" data-addr="Dublin")
              img(src="img/photo-1.jpg", alt="")
              .overlay
                span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
                span.title Bedroom carpet cleaning
                span.adress Dublin
          .col.md-4.sm-6
            a.portfolio--list__item(href="img/photo-2.jpg" title="Bedroom carpet cleaning" data-addr="Dublin")
              img(src="img/photo-2.jpg", alt="")
              .overlay
                span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
                span.title Bedroom carpet cleaning
                span.adress Dublin
          .col.md-4.sm-6
            a.portfolio--list__item(href="img/photo-3.jpg" title="Bedroom carpet cleaning" data-addr="Dublin")
              img(src="img/photo-3.jpg", alt="")
              .overlay
                span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
                span.title Bedroom carpet cleaning
                span.adress Dublin
          .col.md-4.sm-6.hide-mobile
            a.portfolio--list__item(href="img/photo-1.jpg" title="Bedroom carpet cleaning" data-addr="Dublin")
              img(src="img/photo-1.jpg", alt="")
              .overlay
                span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
                span.title Bedroom carpet cleaning
                span.adress Dublin
          .col.md-4.sm-6.hide-mobile
            a.portfolio--list__item(href="img/photo-2.jpg" title="Bedroom carpet cleaning" data-addr="Dublin")
              img(src="img/photo-2.jpg", alt="")
              .overlay
                span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
                span.title Bedroom carpet cleaning
                span.adress Dublin
          .col.md-4.sm-6.show-md-up
            a.portfolio--list__item(href="img/photo-3.jpg" title="Bedroom carpet cleaning" data-addr="Dublin")
              img(src="img/photo-3.jpg", alt="")
              .overlay
                span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
                span.title Bedroom carpet cleaning
                span.adress Dublin
          .col.md-4.sm-6.show-md-up
            a.portfolio--list__item(href="img/photo-1.jpg" title="Bedroom carpet cleaning" data-addr="Dublin")
              img(src="img/photo-1.jpg", alt="")
              .overlay
                span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
                span.title Bedroom carpet cleaning
                span.adress Dublin
          .col.md-4.sm-6.show-md-up
            a.portfolio--list__item(href="img/photo-2.jpg" title="Bedroom carpet cleaning" data-addr="Dublin")
              img(src="img/photo-2.jpg", alt="")
              .overlay
                span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
                span.title Bedroom carpet cleaning
                span.adress Dublin
          .col.md-4.sm-6.show-md-up
            a.portfolio--list__item(href="img/photo-3.jpg" title="Bedroom carpet cleaning" data-addr="Dublin")
              img(src="img/photo-3.jpg", alt="")
              .overlay
                span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
                span.title Bedroom carpet cleaning
                span.adress Dublin
          .col.md-4.sm-6.show-md-up
            a.portfolio--list__item(href="img/photo-1.jpg" title="Bedroom carpet cleaning" data-addr="Dublin")
              img(src="img/photo-1.jpg", alt="")
              .overlay
                span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
                span.title Bedroom carpet cleaning
                span.adress Dublin
          .col.md-4.sm-6.show-md-up
            a.portfolio--list__item(href="img/photo-2.jpg" title="Bedroom carpet cleaning" data-addr="Dublin")
              img(src="img/photo-2.jpg", alt="")
              .overlay
                span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
                span.title Bedroom carpet cleaning
                span.adress Dublin
          .col.md-4.sm-6.show-md-up
            a.portfolio--list__item(href="img/photo-3.jpg" title="Bedroom carpet cleaning" data-addr="Dublin")
              img(src="img/photo-3.jpg", alt="")
              .overlay
                span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
                span.title Bedroom carpet cleaning
                span.adress Dublin
      .pagination
        ul
          li.disabled: span: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 10"): path(d="M8.8 5l3 3.1a1.1 1.1 0 0 1 0 1.6 1 1 0 0 1-.8.3 1 1 0 0 1-.7-.4L6 5 10.3.3a1 1 0 0 1 1.4 0 1.1 1.1 0 0 1 0 1.5zM5.7 9.7a1 1 0 0 1-.7.3 1 1 0 0 1-.7-.4L0 5 4.3.3a1 1 0 0 1 1.4 0 1.1 1.1 0 0 1 0 1.5L2.8 5l3 3.1a1.1 1.1 0 0 1 0 1.6z")
          li.current: span 1
          li: a(href="") 2
          li: a(href="") 3
          li: a(href=""): svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 10"): path(d="M3.2 5l-3-3.2A1.1 1.1 0 0 1 .3.3a1 1 0 0 1 1.5 0L6 5 1.7 9.7a1 1 0 0 1-1.4 0 1.2 1.2 0 0 1 0-1.5zM6.3.3a1 1 0 0 1 1.4 0L12 5 7.7 9.7a1 1 0 0 1-1.4 0 1.2 1.2 0 0 1 0-1.5L9.2 5 6.3 1.8a1.1 1.1 0 0 1 0-1.5z")
