extends layout
block variables
  - page = 'Our Services'
block content
  .breadcrumb
    .container
      ul
        li: a(href="./") GreenClean
        li: span Our services
  section.services
    .container
      .row
        .col.md-4.sm-6
          a.services--item(href="service.html")
            img(src="img/service-th-1.jpg", alt="")
            h3 CARPET CLEANING
            p You rest on the floor to watch a movie.  Your children play on the floor. Your baby spends a lot of time every day crawling across the floor. Meanwhile, your shoes track dirt and debris onto the floor from outside. Your pets drop fur.
        .col.md-4.sm-6
          a.services--item(href="service.html")
            img(src="img/service-th-2.jpg", alt="")
            h3 HOUSE CLEANING
            p At GC we specialize in restoring the beauty, vitality and original freshness of all your upholstered furniture. Deep down fabric restoration will effectively and economically extend the life of your upholstery by removing contaminants such as, food stains, household dust, dust mites, pollen, hair products, greases, pet hairs, etc.
        .col.md-4.sm-6
          a.services--item(href="service.html")
            img(src="img/service-th-3.jpg", alt="")
            h3 CHIMNEY CLEANING 
            p At Absolute Cleaning we know that every rug has individual qualities that need expert attention. Our highly trained and educated rug cleaning technicians can identify fibers, stains, dying procedures and other important features.
        // bezumniy dizainer
        .col.show-md-up: hr
        .col.md-4.sm-6
          a.services--item(href="service.html")
            img(src="img/service-th-4.jpg", alt="")
            h3 MATTRESS CLEANING
            p Leather furniture can be one of the most valuable and sensitive furniture items in your household.<br>At Absolute Cleaning we will make your leather look younger, and remain in the best possible condition. 
        .col.md-4.sm-6
          a.services--item(href="service.html")
            img(src="img/service-th-5.jpg", alt="")
            h3 ROOF CLEANING
            p This service can be used by anybody who would like to get a home/apartment deep cleaned on a one off basis. Our professional team will bring your place back to life and will give it natural shine. 
        .col.md-4.sm-6
          a.services--item(href="service.html")
            img(src="img/service-th-6.jpg", alt="")
            h3 CONCRETE 
            p Our Start/End of Tenancy Service can be use by landlords, letting agents and tenants. Thanks to our cleaning service you will get back your deposit or you will find a new tenant with no problem.<br>Our well trained team will leave your property spotless clean. 
        // bezumniy dizainer
        .col.show-md-up: hr
        .col.md-4.sm-6
          a.services--item(href="service.html")
            img(src="img/service-th-7.jpg", alt="")
            h3 PAVING CLEANING
            p You rest on the floor to watch a movie. Your children play on the floor. Your baby spends a lot of time every day crawling across the floor. Meanwhile, your shoes track dirt and debris onto the floor from outside. Your pets drop fur.
        .col.md-4.sm-6
          a.services--item(href="service.html")
            img(src="img/service-th-8.jpg", alt="")
            h3 UPHOLSTERY & LEATHER CLEANING
            p You rest on the floor to watch a movie.<br>Your children play on the floor. Your baby  spends a lot of time every day crawling across the floor. Meanwhile, your shoes track dirt and debris onto the floor from outside. Your pets drop fur.
