extends layout
block variables
  - page = 'Our Services'
block content
  .breadcrumb
    .container
      ul
        li: a(href="./") GreenClean
        li: a(href="services.html") Our services
        li: span Upholstery & Leather Cleaning
  section.service--article
    .container
      h1 Upholstery & Leather Cleaning
      p Upholstery is one of the most important aspects of the lifestyle your own home affords you. Your furniture, recliners, chairs, and sofas add value to your life and they require proper care and cleaning every now and then so they keep beautiful and their useful life is protracted. We will do that for you in the Dublin, Kildare and Meath area.
      h3 How do we clean your upholstery?
      p We know how to clean all kinds of upholstery. We use a variety of upholstery steam cleaning methods.
      p The Eco Clean Solution's professional technicians are uniquely trained to treat every kind of fabric used in upholstery (including the most exotic ones). Polycotton, polyester, brocades, berber, velour, velvet, linen, cotton. Any kind. We know how to deal with it and clean it without any damage or discoloring.
      h3 Below you can see some results of our tile and grout cleaning services
      .row
        .col.sm-6
          .video
            img.video--image(src="img/video-1.jpg", alt="")
            iframe.video--iframe(src="" frameborder="0" allowTransparency="true" allowfullscreen data-src="https://www.youtube.com/embed/Q0oIoR9mLwc?autoplay=1&modestbranding=0&rel=0&amp;showinfo=0")
            button.video--play
              svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 232.2 232.2"): path(d="M203.8 99.6L49.3 2.3C44.7-.4 39.1 0 34.8 0c-17.1 0-17 13.3-17 16.6v199c0 2.8-.1 16.5 17 16.5 4.3 0 10 .5 14.5-2.2l154.5-97.4c12.7-7.5 10.5-16.4 10.5-16.4s2.2-9-10.5-16.5z")
        .col.sm-6
          .video
            img.video--image(src="img/video-2.jpg", alt="")
            iframe.video--iframe(src="" frameborder="0" allowTransparency="true" allowfullscreen data-src="https://www.youtube.com/embed/yuFI5KSPAt4?autoplay=1&modestbranding=0&rel=0&amp;showinfo=0")
            button.video--play
              svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 232.2 232.2"): path(d="M203.8 99.6L49.3 2.3C44.7-.4 39.1 0 34.8 0c-17.1 0-17 13.3-17 16.6v199c0 2.8-.1 16.5 17 16.5 4.3 0 10 .5 14.5-2.2l154.5-97.4c12.7-7.5 10.5-16.4 10.5-16.4s2.2-9-10.5-16.5z")
      .row.image--gallery
        .col.sm-4.xs-6
          a.photo.popup--image(href="img/photo-1.jpg" title="Bedroom carpet cleaning" data-addr="Dublin")
            img(src="img/photo-1.jpg", alt="")
            .photo--overlay
              span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
              span.title Bedroom carpet cleaning
              span.adress Dublin
        .col.sm-4.xs-6
          a.photo.popup--image(href="img/photo-2.jpg" title="Bedroom carpet cleaning" data-addr="Dublin")
            img(src="img/photo-2.jpg", alt="")
            .photo--overlay
              span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
              span.title Bedroom carpet cleaning
              span.adress Dublin
        .col.sm-4.xs-6
          a.photo.popup--image(href="img/photo-3.jpg" title="Bedroom carpet cleaning" data-addr="Dublin")
            img(src="img/photo-3.jpg", alt="")
            .photo--overlay
              span.icon: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.1 475.1"): path(d="M464.5 412.8l-98-97.9c23.7-34 35.5-72 35.5-113.9 0-27.2-5.3-53.2-15.9-78a200.9 200.9 0 0 0-42.8-64.3 201 201 0 0 0-64.2-42.9A197.5 197.5 0 0 0 201 0c-27.2 0-53.2 5.3-78 15.8a201 201 0 0 0-64.3 42.9 201 201 0 0 0-42.9 64.2A197.5 197.5 0 0 0 0 201c0 27.2 5.3 53.2 15.8 78a200.9 200.9 0 0 0 42.9 64.3 201 201 0 0 0 64.2 42.9A197.5 197.5 0 0 0 201 402c41.9 0 79.9-11.8 114-35.4l97.8 97.6a34 34 0 0 0 25.7 10.9c10 0 18.5-3.6 25.7-10.9a35.1 35.1 0 0 0 10.9-25.7 35 35 0 0 0-10.6-25.7zM291.4 291.4c-25 25-55.2 37.5-90.4 37.5s-65.3-12.5-90.4-37.5c-25-25-37.5-55.2-37.5-90.4s12.5-65.3 37.5-90.4c25-25 55.2-37.5 90.4-37.5s65.3 12.5 90.4 37.5c25 25 37.5 55.2 37.5 90.4s-12.5 65.3-37.5 90.4z")
              span.title Bedroom carpet cleaning
              span.adress Dublin
      p At the GC, we offer a specialist leather cleaning service to our customers. Your leather suite/couch can be cleaned very successfully. Our leather cleaning service will rejuvenate your furniture so that it feels soft and supple again. Please call us to arrange a consultation.

