.fp-testimonials {
  padding: 100px 40px;
  background-color: $bright;

  .container {
    max-width: 100%;
  }

  h2 {
    font-size: 26px;
    line-height: 1;
    margin-bottom: 50px;
  }

  .owl-carousel .owl-nav {
    @include mobile {display: none;}
    button {
      position: absolute;
      top: 50%;
      margin-top: -70px;
      color: $grey;
      opacity: 0.3;
      transition: .15s $standart;

      &.owl-next {
        right: -35px;
        @include tablet {right: -60px;}
      }

      &.owl-prev {
        left: -35px;
        @include tablet {left: -95px;}
      }

      &:hover {
        color: $primary;
        opacity: 1;
      }
    }

    svg {
      fill: currentColor;
      display: block;
      width: 35px;
      height: 35px;
    }
  }

  &--item {
    padding: 0 15px;

    &__body {
      background-color: $white;
      padding: 50px;
      position: relative;
      box-shadow: 0 2px 11px rgba($black, .32);
      margin-bottom: 45px;

      &:after {
        content: '';
        display: block;
        background: url(../img/testimonials__arrow.png) no-repeat center bottom;
        width: 42px;
        height: 30px;
        position: absolute;
        top: 100%;
        left: 15px;
      }
    }

    &__rating {
      color: #cacaca;
      background: url(../img/testimonial.png) no-repeat center right;
      height: 30px;
      display: flex;
      align-items: center;
      margin-top: 15px;

      svg {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        fill: currentColor;
      }

      &.rate5 {
        color: #01ae52;
      }

      &.rate4 {
        svg:nth-child(1), svg:nth-child(2), svg:nth-child(3), svg:nth-child(4) {
          fill: #01ae52;
        }
      }

      &.rate3 {
        svg:nth-child(1), svg:nth-child(2), svg:nth-child(3) {
          fill: #01ae52;
        }
      }

      &.rate2 {
        svg:nth-child(1), svg:nth-child(2) {
          fill: #01ae52;
        }
      }

      &.rate1 {
        svg:nth-child(1) {
          fill: #01ae52;
        }
      }

      &.rate0 {
        svg {
          fill: currentColor;
        }
      }
    }

    &__footer {
      display: flex;
      align-items: center;

      img {
        display: block !important;
        width: 64px !important;
        height: 64px !important;
        border-radius: 100%;
        margin-right: 15px;
      }

      span, strong {
        display: block;
      }

      strong {
        font-size: 16px;
        font-weight: 500;
      }

      span {
        font-size: 15px;
        color: $grey;
      }
    }
  }

  &--wraper {
    padding: 0;
    @include tablet {
      padding: 0 95px;
    }
  }

  @include mobile {
    padding: 60px 0;

    &--item {
      &__body {
        padding: 30px;
      }

      &__rating {
        background: transparent;
      }
    }
  }

}