.navbar {
  background-color: $primary;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;

  &--menu {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
    display: flex;

    &__item {
      display: block;
      text-transform: uppercase;
      font-family: $headersFont;
      line-height: 20px;
      color: $white;
      transition: .15s $standart;
      background-color: transparent;

      &:hover {
        color: rgba($white, .5);
      }

      &.active {
        color: $white;
        background-color: $primary__dark;
      }

      a {
        display: block;
        padding: 20px 30px;
        text-decoration: none;
        color: currentColor;
        user-select: none;

        svg {
          display: none;
        }
      }

      &.dropdown {
        position: relative;

        .dropdown--toggle {
          display: flex;
          align-items: center;
          span, svg {
            display: block;
          }
          span {
            margin-right: 5px;
          }

          svg {
            width: 7px;
            height: 5px;
            fill: #7dcda3;
            transform: rotate(90deg);
            transition: .15s $standart;
          }
        }

        .dropdown--menu {
          position: absolute;
          top: 100%;
          background-color: #fff4b4;
          box-shadow: 0 2px 16px rgba($black, .57);
          width: 315px;

          opacity: 0;
          transform-origin: top center;
          transform: scaleY(0);
          transition: .15s $standart;

          &::before {
            display: block;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 7px 7px 7px;
            border-color: transparent transparent #fff4b4 transparent;
            position: absolute;
            top: -7px;
            left: 35px;
          }

          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: block;

            li {
              display: block;
              border-bottom: 1px solid #d5ca8d;
              transition: .15s $standart;

              &.active, &:hover {
                background-color: #ffe034;
              }

              &:last-child {border-bottom: none;}

              a {
                display: block;
                text-transform: none;
                color: $black;
                white-space: nowrap;
                padding: 15px 30px;
                font-size: 15px;
                line-height: 22px;

                svg {
                  display: none;
                }
              }
            }
          }
        }
        &.open .dropdown--toggle {
          color: $white;
          background-color: $primary__dark;

          svg {
            transform: rotate(270deg)
          }
        }
        &.open .dropdown--menu {
          opacity: 1;
          transform: scaleY(1);
        }
      }
    }

    &__header {
      display: none;
    }
  }

  &--show {
    display: none;
  }

  @include tabletDown {
    position: relative;

    &--show {
      display: block;
      height: 60px;
      background-color: $primary__dark;
      box-sizing: border-box;
      border: none;
      padding: 0 15px;
      text-transform: uppercase;
      font-family: $headersFont;
      font-weight: 600;
      font-size: 16px;
      color: $white;
      transition: .15s $standart;
      white-space: nowrap;
      cursor: pointer;
      @include mobile{margin-left: -15px;}

      &:hover {
        color: $accent;
      }

      svg {
        fill: currentColor;
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }

      span, svg {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
      }
    }

    &--menu {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $white;
      overflow-y: scroll;
      transform: translateY(-100%);
      transition: .15s $standart;

      &__header {
        display: block;
        background-color: $primary;
      }

      &__hide {
        display: flex;
        align-items: center;
        width: 720px;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        height: 60px;
        background-color: $primary;
        border: none;
        text-transform: uppercase;
        font-family: $headersFont;
        font-weight: 600;
        font-size: 16px;
        color: $white;
        transition: .15s $standart;
        cursor: pointer;
        padding: 0 30px;

        span, svg {
          display: block;
        }

        &:hover {
          color: $accent;
        }
  
        svg {
          fill: currentColor;
          width: 16px;
          height: 16px;
        }

        span {
          flex: 1;
          text-align: left;
        }
      }

      &__item {
        color: $black;
        border-bottom: 1px solid #dcdcdc;


        &:hover {
          color: $black;
        }

        &:last-child {border-bottom: none;}

        a {
          display: flex;
          align-items: center;
          width: 720px;
          max-width: 100%;
          box-sizing: border-box;
          margin: 0 auto;
          text-transform: none;

          span {
            display: block;
            flex: 1;
          }

          svg {
            display: block;
            width: 11px;
            height: 11px;
            fill: $primary;
            transition: .15s $standart;
          }
        }

        &.active {
          a {color: $white;}
          a svg {fill:$white}
        }

        &.dropdown {
          .dropdown--toggle {
            svg {
              width: 11px;
              height: 11px;
              fill: $primary;
              transform: rotate(0)
            }
          }
          &.open .dropdown--toggle {
            color: $black;
            background-color: transparent;
    
            svg {
              transform: rotate(-90deg)
            }
          }
          .dropdown--menu {
            position: static;
            box-shadow: none;
            width: 100%;
            overflow: hidden;
            height: 0;

            &::before {display: none;}

            ul li a {
              display: flex;
              align-items: center;
              span {
                display: block;
                flex: 1;
              }
              svg {
                display: block;
                width: 11px;
                height: 8px;
                fill: #a7a284;
              }
            }
          }
          &.open .dropdown--menu {
            height: auto;
          }




        }
      }
    }

    &.open &--menu {
      transform: translateY(0);
    }
  }
}